<!-- <div style="min-width: 200px; max-height:900%; background-image: url('../assets/images/image.jpg'); "> -->
   <div class="bg-image" style="height: 100vh;background-image: url('../assets/images/image1.jpg');">
      <br>
  <div class="container" style="max-width: 500px; background-color: whitesmoke;">
      <h2 style="text-align: center;">User Login / Signin</h2>
      <form #loginform="ngForm" (ngSubmit)="loginUser()">
       <div class="form-group">
         <label for="email">Email:</label>
         <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.emailId" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
         #email="ngModel" [class.is-invalid]="email.invalid && email.touched"> 
         <div *ngIf="email.errors && email.invalid && email.touched">
            <small class="text-danger" *ngIf="email.errors.required">Email id is required field..</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Enter valid email id..</small>
         </div>
      </div>
      <div class="form-group">
         <label for="pwd">Password:</label>
         <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password="ngModel"
         [class.is-invalid]="password.invalid && password.touched">
         <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
      </div>
      <small class="text-danger"><b>{{msg}}</b></small>
      <div class="checkbox">
         <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-success" style="opacity: 1"><b>Login</b></button>
      <!-- <small class="float-right" [routerLink]="['/registration']">New User ? Register here</small> -->
      <div class="float-right" [routerLink]="['/registration']">Not registered? <a href="/registration">Register here</a>
      </div>
      </form>
      <!-- <small class="float-right" (click)="gotoRegistration()">New User ? register here</small> -->
      
   </div>
   </div>